html,
body {
  margin: 0px;
  padding: 0px;
  font-family:'Ubuntu', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 103px 26px 82px;
  background: #2E948A;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.header > .nav {
  display: flex;
  list-style: none;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.header > .nav > li {
  padding: 0px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  text-transform: uppercase;

  color: #FDFDFD;
}

a:link {
  text-decoration: none;
  color: #FDFDFD;
}
a:visited{
  text-decoration: none;
  color: #FDFDFD;
}

@media screen and (max-width: 660px) {
  .header {
    padding: 20px 36px 26px 50px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 20px 20px 26px 20px;
    flex-direction: column;
  }

  .header > .nav {
    flex-direction: column;
  }

  .header > .nav > li {
    padding: 5px 0px;
  }
}

p{  
    position:absolute;
    width: 488px;
    height: 216px;
    left: 206px;
    top: 242px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    
    color: #FF4081;
    
}
p1{
  position: absolute;
  width: 462px;
  height: 62px;
  left: 207px;
  top: 527px;
  
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  
  color: #555555;
  
}
p2{
  position: absolute;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 46px;
  text-align: center;
  color: #FF4081;
  box-sizing: border-box;
  border: 2px solid #FF4081;
  border-radius: 62px;
  width: 268px;
  height: 61px;
  left: 207px;
  top: 627px;


}
.ilustra-banner{
    position:absolute;
background: #ffffff;
height: 511px;
width: 501px;
left: 733px;
top: 252px;
border-radius: 0px;
}

.background{
  display:flex;
position:relative;
  width: 1440px;
  height: 730px;
  left: 0px;
  top: 725px;
  
  background: #F7F7F7;;
  
  margin:0px;
  padding: 0px;
  }
  #cavalo{
    position:absolute;
    height: 270px;
    width: 288px;
    left: 156px;
    top: 938px;
    border-radius: 0px;
    
  }
  p3{
    position: absolute;
    width: 344px;
    height: 29px;
    left: 128px;
    top: 1253px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FF4081;
  }
  p4{
    position: absolute;
    width: 293px;
    height: 60px;
    left: 154px;
    top: 1305px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    
    color: #000000;
  }
  p5{
    position:absolute;
    width: 216px;
    height: 51px;
    left: 182px;
    top: 1406px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    background: #FF4081;
    border-radius: 62px;
    box-sizing: border-box;
  }
#regando{
  position: absolute;
left: 63.12%;
right: 40.35%;
top: 89.34%;
bottom: 62.21%;
height: 270px;
width: 238px;
left: 621px;
top: 938px;
border-radius: 0px;
}  
p6{
  position: absolute;
width: 267px;
height: 29px;
left: 606px;
top: 1251px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #FF4081;
}
p7{
  position: absolute;
width: 293px;
height: 60px;
left: 593px;
top: 1303px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;
}
p8{
  position: absolute;
  width: 216px;
  height: 51px;
  left: 632px;
   top: 1404px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;
text-align: center;

color: #FFFFFF;
background: #FF4081;
border-radius: 62px;
box-sizing: border-box;
}
#independencia{
  position:absolute;
  height: 270px;
width: 187px;
left: 1066px;
top: 938px;
border-radius: 0px;
}
p9{
  position: absolute;
width: 304px;
height: 29px;
left: 1007px;
top: 1251px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #FF4081;

}
p10{
  position: absolute;
  width: 293px;
  height: 60px;
  left: 1013px;
  top: 1303px;
  
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  
  color: #000000;
  
}
p11{
  position: absolute;
width: 216px;
height: 51px;
left: 1052px;
top: 1404px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;
text-align: center;

color: #FFFFFF;
background: #FF4081;
border-radius: 62px;
box-sizing: border-box;
}*
.pessoas{
  position: absolute;
  font-family: 'Nunito';
  font-style: normal;
}
p12{
  position: absolute;
  width: 478px;
  height: 50px;
  left: 128px;
  top: 1678px;

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;

  color: #009688;
  text-transform: uppercase;
}

#wally{
  position: absolute;
  width: 84px;
  height: 68px;
  left: 139px;
  top: 1818px;
}
p13{
  position: absolute;
width: 363px;
height: 70.27px;
left: 260px;
top: 1806px;

font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;

color: #000000;

}
p14{

}