html,
body {
  margin: 0px;
  padding: 0px;
  font-family:'Ubuntu', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 103px 26px 82px;
  background: #2E948A;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.header > .nav {
  display: flex;
  list-style: none;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.header > .nav > li {
  padding: 0px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  text-transform: uppercase;

  color: #FDFDFD;
}

a:link {
  text-decoration: none;
  color: #FDFDFD;
}
a:visited{
  text-decoration: none;
  color: #FDFDFD;
}

@media screen and (max-width: 660px) {
  .header {
    padding: 20px 36px 26px 50px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 20px 20px 26px 20px;
    flex-direction: column;
  }

  .header > .nav {
    flex-direction: column;
  }

  .header > .nav > li {
    padding: 5px 0px;
  }
}

.educação{  
    position:absolute;
    width: 488px;
    height: 216px;
    left: 206px;
    top: 242px; 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}
.texto{
  position: absolute;
  width: 462px;
  height: 62px;
  left: 207px;
  top: 527px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  color: #555555;
  
}
.quero{
  position: absolute;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 46px;
  text-align: center;
  color: #FF4081;
  box-sizing: border-box;
  border: 2px solid #FF4081;
  border-radius: 62px;
  width: 268px;
  height: 61px;
  left: 207px;
  top: 627px;


}
#ilustra-banner{
    position:absolute;
background: #ffffff;
height: 511px;
width: 501px;
left: 733px;
top: 252px;
border-radius: 0px;
}

.background{
  display:flex;
position:relative;
  width: 1440px;
  height: 730px;
  left: 0px;
  top: 725px;
  
  background: #F7F7F7;;
  
  margin:0px;
  padding: 0px;
  }
  #cavalo{
    position:absolute;
    height: 270px;
    width: 288px;
    left: 156px;
    top: 938px;
    border-radius: 0px;
    
  }
  p3{
    position: absolute;
    width: 344px;
    height: 29px;
    left: 128px;
    top: 1253px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FF4081;
  }
  p4{
    position: absolute;
    width: 293px;
    height: 60px;
    left: 154px;
    top: 1305px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    
    color: #000000;
  }
  p5{
    position:absolute;
    width: 216px;
    height: 51px;
    left: 182px;
    top: 1406px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    background: #FF4081;
    border-radius: 62px;
    box-sizing: border-box;
  }
#regando{
position: absolute;
left: 63.12%;
right: 40.35%;
top: 89.34%;
bottom: 62.21%;
height: 270px;
width: 238px;
left: 621px;
top: 938px;
border-radius: 0px;
}  
p6{
position: absolute;
width: 267px;
height: 29px;
left: 606px;
top: 1251px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
/* identical to box height */
text-align: center;
color: #FF4081;
}
p7{
position: absolute;
width: 293px;
height: 60px;
left: 593px;
top: 1303px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;
}
p8{
position: absolute;
width: 216px;
height: 51px;
left: 632px;
top: 1404px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
background: #FF4081;
border-radius: 62px;
box-sizing: border-box;
}
#independencia{
position:absolute;
height: 270px;
width: 187px;
left: 1066px;
top: 938px;
border-radius: 0px;
}
p9{
position: absolute;
width: 304px;
height: 29px;
left: 1007px;
top: 1251px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
text-align: center;
color: #FF4081;
}
p10{
  position: absolute;
  width: 293px;
  height: 60px;
  left: 1013px;
  top: 1303px;
  
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  
  color: #000000;
  
}
p11{
  position: absolute;
width: 216px;
height: 51px;
left: 1052px;
top: 1404px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;
text-align: center;

color: #FFFFFF;
background: #FF4081;
border-radius: 62px;
box-sizing: border-box;
}*
.pessoas{
  font-family: 'Nunito';
  font-style: normal;
  color: #000000;
  line-height: 25px;
  font-size: 18px;
}
p12{
  position: absolute;
  width: 478px;
  height: 50px;
  left: 128px;
  top: 1678px;
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;
  color: #009688;
  text-transform: uppercase;
}

#wally{
  position: absolute;
  width: 76px;
  height: 82px;
  left: 139px;
  top: 1818px;
}
p13{
  position: absolute;
  width: 363px;
  height: 70.27px;
  left: 260px;
  top: 1806px;
  font-weight: 300;
}
p14{
  position: absolute;
  width: 76px;
  height: 23.42px;
  left: 260px;
  top: 1886.58px; 
  font-weight: 400;
}
#whoopi{
 position: absolute;
  width: 76px;
  height: 82px;
  left: 142px;
  top: 2013px;
  border-radius: 31px;
}
p15{
  position: absolute;
  width: 363px;
  height: 73.65px;
  left: 255px;
  top: 1996px;
  font-weight: 300;
}
p16{
  position: absolute;
width: 175px;
height: 24.55px;
left: 255px;
top: 2080.45px;
font-weight: 400;
}

#jaden{
  position: absolute;
  width: 81px;
  height: 85px;
  left: 719px;
  top: 1811px;
  
}
p17{
  position: absolute;
width: 363px;
height: 70.27px;
left: 852px;
top: 1806px;
font-family: 'Nunito';
font-style: normal;
font-weight: 300;
}
p18{
position: absolute;
width: 128px;
height: 23.42px;
left: 852px;
top: 1886.58px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
}
#jane{
position: absolute;
width: 89px;
height: 88px;
left: 719px;
top: 2015px;
border-radius: 59px;
}
p19{
position: absolute;
width: 363px;
height: 71.62px;
left: 840px;
top: 1997px;
font-family: 'Nunito';
font-style: normal;
font-weight: 300;
color: #000000;
}
p20{
position: absolute;
width: 124px;
height: 23.87px;
left: 840px;
top: 2079.13px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
}
.conteudo{
  position: absolute;
width: 1440px;
height: 730px;
left: 0px;
top: 2260px;

background: #F7F7F7;
}
h1{
position: absolute;
width: 530px;
height: 43px;
left: 128px;
top: 2351px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 43px;
color: #009688;
}
.video1{
position: absolute;
width: 319px;
height: 193px;
left: 128px;
top: 2467px;
background: #C4C4C4;
}
p21 strong{
position: absolute;
width: 319px;
height: 114px;
left: 128px;
top: 2671px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 31px;
color: #009688;
}
p22{
  color:black;
  position: absolute;
width: 319px;
height: 114px;
left: 128px;
top: 2699px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27.28px;
text-align: justify;
}
p23 strong{
position: absolute;
width: 319px;
height: 114px;
left: 556px;
top: 2671px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 31px;
color: #009688;
}
p24{
position: absolute;
width: 319px;
height: 114px;
left: 556px;
top: 2699px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27.28px;
color: #000000;
}
p25{
position: absolute;
width: 319px;
height: 114px;
left: 984px;
top: 2671px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 31px;
color: #009688;
}
p26{
position: absolute;
width: 319px;
height: 114px;
left: 984px;
top: 2699px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27.28px;
color: #000000;  
}
.video2{  
position: absolute;
width: 319px;
height: 193px;
left: 556px;
top: 2467px;
background: #C4C4C4;
}
.video3{
position: absolute;
width: 319px;
height: 193px;
left: 984px;
top: 2467px;  
background: #C4C4C4;
}

.footer {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #419488;
}

.footer img {
max-width: 250px;
height: auto;
}

.footer a {
display: block;
padding: 5px;
text-decoration: none;
color: #ffffff;
font-weight: 700;  
}

.border-footer {
margin: 10px;
border: 2px solid #ffffff;
border-radius: 50px;
}

.border-footer a {
padding: 10px 20px;
color: #ffffff; 
font-weight: normal;
}
.posts{
position: absolute;
width: 289px;
height: 51px;
left: 582px;
top: 2886px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 27px;
color: #FF4081;
border: 2px solid #FF4081;
border-radius: 62px;
}
.posts a{ 
position: absolute;
width: 207px;
height: 31px;
left: 45px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 42px;
color: #FF4081;
}
